.number {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 58px;
  height: 37px;
  font-weight: bold;
  color: white;
  background-color: #443DFF;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}