@import '../../style.scss';

.request {
  @include themify($themes) {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    .user {
      display: flex;
      align-items: center;
      gap: 16px;
      cursor: pointer;

      img {
        display: flex;
        width: 45px;
        height: 45px;
        border-radius: 100px;
      }

      span {
        display: flex;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: themed('textColor')
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }
}